{% extends "layout.html" %}
{% block content %}
<h1>Spam Classifier</h1>
<p>Enter your message below</p>
<form class="form-group" action="/predict" method="POST">
  <textarea name="submission" class="form-control" id="submission" row="10"></textarea>
  <button type="submit" class="btn btn-primary">Classify</button>
</form>
{% if classification %}
{% if classification[0] == 0 %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>All good!</strong> This message appears to be safe.
  </div>
{% else %}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Careful!</strong> This message appears to be spam.
  </div>
{% endif %}
{% endif %}
{% endblock %}
